echo "pip is not available in this environment (powered by {{ backend }})."
echo "To modify installed packages, please consider updating the requirements.txt file and relaunch this buildenv instead."
exit 1
