{% include "headers/warning.jinja" %}

:: Update prompt
set "PROMPT=%VIRTUAL_ENV_PROMPT%$P$G"

:: Load extra activation files
for /f %%i in ('dir /b /o:n %VIRTUAL_ENV_SCRIPTS%\activate\*.cmd') do (
    call %VIRTUAL_ENV_SCRIPTS%\activate\%%i
)

