{% include "headers/warning.jinja" %}

{% include "backends/fragments/check.sh.jinja" %}

# Check for lock
if test -f buildenv.lock; then
    # Locked requirements
    _opts="--frozen"
else
    # Always upgrade
    _opts="--upgrade"
fi

# Delegate execution to buildenv command (through uv)
_run_cmd uv run "${_opts}" ${BUILDENV_UV_ARGS} buildenv "$@"

