{% include "headers/warning.jinja" %}

{% include "backends/fragments/check.cmd.jinja" %}

:: Check for lock
if exist buildenv.lock (
    :: Locked requirements
    set _opts=--frozen
) else (
    :: Always upgrade
    set _opts=--upgrade
)

:: Delegate execution to buildenv command (through uv)
call :run_cmd uv run %_opts% %BUILDENV_UV_ARGS% buildenv %*
set _BUILDENV_RC=%ERRORLEVEL%
goto end

:end
exit /b %_BUILDENV_RC%

