{% include "headers/warning.jinja" %}

# Check for python command
if test -f /git-bash.exe; then
    _python=python
    _bin=Scripts
else
    _python=python3
    _bin=bin
fi

{% include "backends/fragments/check.sh.jinja" %}

# Needs to create venv?
if test ! -f venv/.ok; then
    # Create venv
    echo "[INFO] Creating venv..."
    rm -Rf venv
    _run_cmd ${_python} -m venv venv
    _rc=$?
    if test ${_rc} -ne 0; then
        echo "[ERROR] Failed to create venv"
        exit ${_rc}
    fi

    # Activate venv
    _run_cmd source venv/${_bin}/activate

    # Check for requirements
    if test -f buildenv.lock -a -f requirements.lock; then
        # Locked requirements
        _reqs="-r $PWD/requirements.lock"
    elif test -f requirements.txt; then
        # Base input requirements
        _reqs="-U pip setuptools wheel buildenv -r $PWD/requirements.txt"
    fi

    # Install dependencies in venv
    echo "[INFO] Installing project dependencies..."
    _run_cmd python -m pip install ${_reqs} ${BUILDENV_PIP_ARGS}
    _rc=$?
    if test ${_rc} -ne 0; then
        echo "[ERROR] Failed to install project dependencies"
        exit ${_rc}
    fi

    # Create .ok file to indicate successful installation
    touch venv/.ok

    # Deactivate after install
    _run_cmd deactivate
fi

# Delegate execution to buildenv command
_run_cmd venv/${_bin}/buildenv "$@"

