{% include "headers/warning.jinja" %}

{% include "backends/fragments/check.cmd.jinja" %}

:: Needs to create venv?
if exist venv\.ok (
    goto delegate
)

:: Create venv
echo [INFO] Creating venv...
rmdir /s /q venv >nul 2>&1
call :run_cmd python -m venv venv
set _BUILDENV_RC=%ERRORLEVEL%
if %_BUILDENV_RC% NEQ 0 (
    echo|set /p="[ERROR] Failed to create venv" & echo.
    goto end
)

:: Activate venv
echo [CMD] venv\Scripts\activate.bat
call venv\Scripts\activate.bat

:: Check for requirements
if exist requirements.lock (
    :: Locked requirements
    set _reqs=-r requirements.lock
) else (
    if exist requirements.txt (
        :: Base input requirements
        set _reqs=-U pip setuptools wheel buildenv -r requirements.txt
    )
)

:: Install dependencies in venv
echo [INFO] Installing project dependencies...
call :run_cmd python -m pip install %_reqs% %BUILDENV_PIP_ARGS%
set _BUILDENV_RC=%ERRORLEVEL%
echo [CMD] venv\Scripts\deactivate.bat
call venv\Scripts\deactivate.bat
if %_BUILDENV_RC% NEQ 0 (
    echo|set /p="[ERROR] Failed to install project dependencies" & echo.
    goto end
)

:: Create .ok file to indicate successful installation
type nul > venv\.ok

:delegate
:: Delegate execution to buildenv command
call :run_cmd venv\Scripts\buildenv %*
set _BUILDENV_RC=%ERRORLEVEL%
goto end

:end
exit /b %_BUILDENV_RC%
