goto :start

:: Helper: print a command to stdout, then execute it
:run_cmd
echo [CMD] %*
%*
goto :eof

:: Check if {{command}} is installed
:start
setlocal
{{command}} --version > NUL 2> NUL
set _BUILDENV_RC=%ERRORLEVEL%
if %_BUILDENV_RC% NEQ 0 (
    echo|set /p="[ERROR] {{command}} is not installed; see {{url}} for installation instructions" & echo.
    goto end
)

:: Export buildenv version
set BUILDENV_VERSION=2
